# read csv

## small csv

In [15]:
%%time
import ray
import my_happy_modin
import my_happy_modin.my_happy_pandas as pd
from my_happy_modin.my_happy_pandas import DataFrame
from pathlib import Path
import warnings


file_path = Path('data/eventlog.csv').resolve()

df = pd.read_csv(file_path, sep=';', header=None)

df = df.rename(columns={
        0: 'Case id', 
        1: 'Task',
        2: 'User',
        3: 'Timestamp'
      })

df

CPU times: user 18.5 ms, sys: 1.21 ms, total: 19.7 ms
Wall time: 21.1 ms

    Case id Task User            Timestamp
0         1    a   u1  2016-04-09 17:36:47
1         1    b   u3  2016-04-11 09:11:13
2         1    d   u6  2016-04-12 10:00:12
3         1    e   u7  2016-04-12 18:21:32
4         1    f   u8  2016-04-13 13:27:41
5         2    a   u2  2016-04-14 08:56:09
6         2    b   u3  2016-04-14 09:36:02
7         2    d   u5  2016-04-15 10:16:40
8         1    g   u6  2016-04-18 19:14:14
9         2    g   u6  2016-04-19 15:39:15
10        1    h   u2  2016-04-19 16:48:16
11        2    e   u7  2016-04-20 14:39:45
12        2    f   u8  2016-04-22 09:16:16
13        3    a   u2  2016-04-25 08:39:24
14        2    h   u1  2016-04-26 12:19:46
15        3    b   u4  2016-04-29 10:56:14
16        3    c   u1  2016-04-30 15:41:22

## large csv

In [16]:
%%time
import ray
import my_happy_modin
import my_happy_modin.my_happy_pandas as pd
from my_happy_modin.my_happy_pandas import DataFrame
from pathlib import Path
import warnings


file_path = Path('data/eventlog_large.csv').resolve()

df = pd.read_csv(file_path, sep=';', header=None)

df = df.rename(columns={
        0: 'Case id', 
        1: 'Task',
        2: 'User',
        3: 'Timestamp'
      })

df

CPU times: user 19.9 ms, sys: 5.48 ms, total: 25.4 ms
Wall time: 37 ms

       Case id Task User            Timestamp
0            1    a   u2  2016-04-15 08:41:28
1            1    b   u3  2016-04-18 12:55:01
2            2    a   u2  2016-04-18 20:40:14
3            1    d   u5  2016-04-19 07:22:59
4            2    b   u4  2016-04-21 22:42:39
...        ...  ...  ...                  ...
45374     7549    e   u7  2120-07-20 18:29:17
45375     7547    f   u7  2120-07-21 23:42:12
45376     7549    f   u7  2120-07-22 03:43:02
45377     7547    h   u1  2120-07-22 22:17:09
45378     7549    h   u2  2120-07-26 11:17:13

[45379 rows x 4 columns]